extends _partial/layout.pug


block content
  article(class="post")
    header(class="post-title")
      div(class="post-title__title post-title__title_header")=page.title || "Без названия"
      time(class="post-title__time" datetime=date_xml(page.date))=date(page.date)
    !=page.content
  nav(class="pagination")
    div(class="pagination_item")
      if page.prev
        a(href=url_for(page.prev.path)) Назад в будущее
      else
        | Будущего нет
    div(class="pagination_item")
      if page.next
        a(href=url_for(page.next.path)) Вперёд в прошлое
      else
        | Прошлого нет
  div(id="disqus_thread")
  script.
    var disqus_config = function () {
      this.page.url = page.path;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement("script");
      s.src = "https://podabedorg.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  noscript Включи JavaScript, чтобы срать в комментах. Please enable JavaScript to view the comments powered by Disqus.