@import url('~normalize.css');

:root {
  --black: #000;
  --white: #fff;
  --transition: all 0.5s ease-in-out;
}

:root[theme='dark'] {
  --black: #fff;
  --white: #000;
  transition: var(--transition);
}

html {
  background: var(--white);
  color: var(--black);
  transition: var(--transition);
}

::selection {
  background: var(--black);
  color: var(--white);
}

a {
  color: var(--black);
  transition: var(--transition);
}
