.pagination
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content space-around
  align-items space-around
  width 100%
  margin-top 3rem
  margin-bottom 3rem

.pagination_item
  display flex
  justify-content center
  align-items center
  font-size 1.5rem
  font-weight 700
  margin 3rem

.pagination_item > a:link
.pagination_item > a:visited
  text-decoration none
  border-bottom-style dotted
  border-bottom-width 1px
  color black

.pagination_item > a:hover
  border-bottom-style solid
  border-bottom-width 1px
  color black